@media screen and (min-width: 800px) {


    .hero {
        background-image: url(/images/bg-header-desktop.png);
    }

    .hero-title {
        font-size: 2.5rem;
    }

    .text-bg {
        font-size: 1.3rem;
    }

    .btns {
        flex-direction: row;
    }


    .title-md {
        font-size: 2.1rem;
    }

    .text {
        font-size: 1.1rem;
    }

    .text-bg {
        font-size: 1.3rem;
    }

    .text-sm {
        font-size: 1rem;
        line-height: 1.5;
    }


    .partners {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 4rem;
    }

    .partner {
        width: 20%;
    }
}

@media screen and (min-width: 1024px) {
    
    .features-list {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 32px;
        
    }

    .feature-image-wrapper {
        width: 55%;
        margin: 40px 0;
        margin-left: -10%;
    } 
    
    .features-items {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 28px;
    }

    .feature-item {
        margin: 0 auto;
        width: 80%;
        list-style: none;
    }

    .feature-subtitle, .feature-title {
        text-align: start;
        margin-top: 12px;
        max-width: 350px;
    }


    .benefits {
        width: 80%;
        margin: 6rem auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    .benefit {
        width: 33%;
        justify-content: start;
    }

    .partners {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0;
    }

    .partner {
        width: 14%;
    }


    footer {
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 2rem 6rem;
        gap: 3rem;
    }

    ul {
        flex-direction: row;
        justify-content: start;
        flex-wrap: wrap;
        max-width: 350px;
    }

    .page > a {
        font-size: 1.2rem;
    }

    .socials {
        margin: unset;
        max-width: 200px;
        align-self: flex-end;
    }
}