* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-size: 16px; */
    color: hsl(201, 11%, 66%);
    background-color: #FEFEFE;
    width: 100%;
    font-family: 'Bai Jamjuree', sans-serif;
}


.hero {
    background-image: url('/images/bg-header-mobile.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.logo {
    margin: 140px auto 40px auto;

}

.hero-title {
    font-size: 2rem;
    width: 80%;
    max-width: 700px;
    text-align: center;
    margin: 0 auto 24px auto;
    color: hsl(212, 10%, 33%);
    line-height: 1.4;
}

.text-bg {
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 80%;
    max-width: 700px;
    
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn {  
    width: 80%;
    max-width: 350px;
    border-radius: 66px;
    border: none;
    outline: none;
    box-shadow: 0 4px 4px #0e0e0e58;
    height: 64px;
    cursor: pointer;
}

.btn > p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    color: #FEFEFE;
    border-radius: 60px;
    padding: 16px;
    height: 60px;
    margin-top: -3px;

}
.primary-btn {
    background-color: #1f7366;
    box-shadow: 0 4px 12px 12px #26baa418;
}

.primary-btn > p {
    background-color: hsl(171, 66%, 44%)
}


.secondary-btn {
    background-color: hsl(233, 69%, 55%);
    box-shadow: 0 4px 8px 12px #4859d718;
    
}

.secondary-btn > p {
    background-color: hsl(233, 100%, 69%)
}


.features {
    text-align: center;
    padding-top: 20px;
}

.title-md {
    font-size: 1.7rem;
    color: hsl(212, 10%, 33%);
    margin: 0 auto;
    margin-bottom: 20px;
    line-height: 1.4;
    width: 80%;
    max-width: 700px;
    text-align: center;
}

.text {
    line-height: 1.4;
    font-size: 0.9rem;
    width: 80%;
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
}

.features-list {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feature-image-wrapper {
    width: 80%;
    margin: 40px auto;
}

.feature-image {
    width: 100%;
}

.feature-item {
    margin: 28px auto;
    width: 80%;
    list-style: none;
}

.item-title {
    color: hsl(212, 10%, 33%);
    font-size: 1.4rem;
}


.text-sm {
        line-height: 1.5;
}


.feature-subtitle, .feature-title {
        margin-top: 12px;
        max-width: 350px;
}

.banner {
    margin-top: 40px;
    padding-top: 20px;
}

.banner-image-wrapper {
    /* margin-top: ; */
    width: 80%;
    margin: 40px auto;
    padding-bottom: 20px;
}

.banner-image {
    width: 100%;
}

.benefits {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 80%;
    margin: 0 auto;
    margin-top: 72px;

}

.benefit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;

}